# Server Environment Configuration
NODE_ENV=development
PORT=5000
# Neon PostgreSQL Database Configuration (No Docker required)
# 1. DATABASE_URL: Neon Pooled connection (hostname has '-pooler') used by Express server runtime.
# 2. DIRECT_URL: Neon Direct connection (hostname WITHOUT '-pooler') used by Prisma CLI for migrations.
DATABASE_URL="postgresql://neondb_owner:password@ep-orange-glitter-azf4uoeh-pooler.c-3.ap-southeast-1.aws.neon.tech/smart_department?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:password@ep-orange-glitter-azf4uoeh.c-3.ap-southeast-1.aws.neon.tech/smart_department?sslmode=require"

# JWT Secrets
JWT_ACCESS_SECRET=w8lMkmS5nbV6IJCAfPDWFTIDxPUdfehzLZ6SEVoVJIYa
JWT_REFRESH_SECRET=nuK6KcRFETtSErtAtYcYLAA1PVAQHa7lzCoW4PSsYV+9
JWT_ACCESS_EXPIRES_IN="1h"
JWT_REFRESH_EXPIRES_IN="7d"

# CORS Configuration
CORS_ORIGIN="*"


#send grid api key
SENDGRID_API_KEY=your_sendgrid_api_key
SENDGRID_FROM="20220654963nirob@juniv.edu"