# Server Environment Configuration
NODE_ENV=development
PORT=5000
# DIRECT_URL="postgresql://user:password@ep-xxxx.region.aws.neon.tech/smartdept?sslmode=require"
DATABASE_URL="postgresql://user:password@ep-xxxx-pooler.region.aws.neon.tech/smartdept?sslmode=require&channel_binding=require"

# JWT Secrets
JWT_ACCESS_SECRET=w8lMkmS5nbV6IJCAfPDWFTIDxPUdfehzLZ6SEVoVJIYa
JWT_REFRESH_SECRET=nuK6KcRFETtSErtAtYcYLAA1PVAQHa7lzCoW4PSsYV+9
JWT_ACCESS_EXPIRES_IN="1h"
JWT_REFRESH_EXPIRES_IN="7d"

# CORS Configuration
CORS_ORIGIN="*"
